.rootO{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 5%; 
 }
 
 .tituloO{
     padding: 2%;
 }
 
 .card-headerO{
     background-color: #f8c74a;
 }
 
 .card-footerO{
     background-color: #f8c74a;
 }
 
 .btnO{
     background-color: #f8c74a;
 }
 
 .card-textO{
     margin: 2%;
 }