.root{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 5%; 
 }
 
 .titulo{
     padding: 2%;
 }
 
 .card-header{
     background-color: #f8c74a;
 }
 
 .card-footer{
     background-color: #f8c74a;
 }
 
 .btn{
     background-color: #f8c74a;
 }
 
 .card-text{
     margin: 2%;
 }