.texto {
    padding: 3%;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}

.fecha {
    margin-bottom: 3%;
}

.titulo {
    color: coral;
}

.e1 {
    width: 270px;
    height: 135px;
}

.e2 {
    width: 270px;
    height: 135px;
}

.e3 {
    width: 270px;
    height: 135px;
}

.e4 {
    width: 270px;
    height: 135px;
}

.e5 {
    width: 270px;
    height: 135px;
}

.e6 {
    width: 270px;
    height: 135px;
}

.e7 {
    width: 170px;
    height: 135px;
}
